:root {
  --primary-color: #0172ea;

  --space1: 8px;
  --space2: 16px;

  --border-radius-card: 4px;
  --border-radius-input: 8px;
  --border-radius-button: 6px;

  --min-width-card-mobile: 160px;
  --max-width-card-mobile: 100%;
}