:root {
  --primary-color: #0172ea;

  --space1: 8px;
  --space2: 16px;

  --border-radius-card: 4px;
  --border-radius-input: 8px;
  --border-radius-button: 6px;

  --min-width-card-mobile: 160px;
  --max-width-card-mobile: 100%;

  /* mobileS: `(min-width: 320px)`,
  mobileM: `(min-width: 375px)`,
  mobileL: `(min-width: 425px)`,
  tablet: `(min-width: 768px)`,
  laptop: `(min-width: 1024px)`,
  laptopL: `(min-width: 1440px)`,
  desktop: `(min-width: 2560px)`, */
}